
.gradle/7.3.3/checksums/checksums.lock
.gradle/7.3.3/checksums/md5-checksums.bin
.gradle/7.3.3/checksums/sha1-checksums.bin
.gradle/7.3.3/dependencies-accessors/dependencies-accessors.lock
.gradle/7.3.3/dependencies-accessors/gc.properties
.gradle/7.3.3/executionHistory/executionHistory.bin
